* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: monospace;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
.season-average-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.season-average-wrapper button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(107, 175, 247);
  border-radius: 20px;
}
.season-average-wrapper button:hover {
  background-color: rgba(107, 175, 247, 0.405);
}
#stats {
  outline: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
  appearance: none;
  background-color: rgb(255, 226, 172);
  border: 2px solid black;
  border-radius: 20px;
}
.top-ten-players-wrapper {
  display: flex;
  margin-top: 20px;
  width: 100vw;
  justify-content: center;
}
.player-stats {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  width: 80%;
  height: auto;
  text-align: left;
  font-size: 1.2rem;
}
.player-stats th {
  border-bottom: 1px solid grey;
}
