* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: monospace;
}
/* body {
  background: url(images/kobe.jpeg);
  background-repeat: no-repeat;
  background-size: cover; 
} */
h1 {
  font-size: 3rem;
  text-align: center;
}

/* suggestions and button styles */
.player-name-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.suggestions-list {
  width: 100%;
  list-style: none;
  margin-top: 6px;
  border-radius: 8px;
  box-shadow: 0 5px 10px #4a494933;
  max-height: 120px;
  overflow: auto;
  position: relative;
  z-index: 1;
}
.suggestions-list li {
  padding: 12px;
  font-size: 18px;
  cursor: pointer;
}
.suggestions-list li:hover {
  background-color: #569af4;
}
.suggestions-list li:not(:hover):nth-child(even) {
  background-color: #e7e7e7;
}
.suggestions-list li:not(:hover):nth-child(odd) {
  background-color: white;
}
.player-name-input-wrapper button {
  padding: 1rem;
  font-size: 1.5rem;
  background-color: rgb(107, 175, 247);
  border-radius: 20px;
  align-self: flex-start;
  transform: translateY(10px);
  color: white;
}
.player-name-input-wrapper button:hover {
  background-color: rgba(107, 175, 247, 0.405);
  color: darkblue;
}
#player-name {
  outline: none;
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: left;
  appearance: none;
  background-color: rgb(255, 226, 172);
  border: 2px solid black;
  border-radius: 15px;
}
.season-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  align-self: flex-start;
}
#season {
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 10px;
}
/* player stats styles */
.player-stats-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.player-stats {
  background-color: rgb(255, 255, 255);
  border-collapse: collapse;
  width: 80%;
  height: auto;
  text-align: left;
  font-size: 1.2rem;
}

.player-stats th {
  padding: 1rem;
  border-bottom: 1px solid grey;
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5px;
}
.player-info {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  width: 90vw;
  margin-bottom: 10px;
}

.player-info td {
  font-size: 1.3rem;
}
.player-info h3 {
  text-align: center;
  font-size: 2.5rem;
}
.player-info p {
  text-align: center;
  font-size: 1.7rem;
}
.statsBody {
  text-align: center;
  font-size: 1.5rem;
}

/* styling for scrollable */
.season-stats-wrapper {
  width: 95vw;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: max(400px);
}
.button-wrapper {
  align-self: flex-end;
  width: 40%;
  margin: 10px;
}
.getStats {
  width: 100%;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 30px;
  background-color: rgb(250, 189, 109);
}
.getStats:hover {
  background-color: rgba(250, 189, 109, 0.539);
}
.scrollable-wrapper {
  border: 2px solid red;
  overflow: auto;
}
.game {
  padding: 1rem;
  margin: 0.8rem;
  border-radius: 10px;
  background-color: rgb(41, 138, 249);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}
.game h5 {
  color: rgb(174, 174, 174);
  font-size: 0.8em;
}
.game p {
  font-size: 0.7em;
  background-color: rgb(127, 200, 255);
  border-style: outset;
  border-color: grey;
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  text-align: center;
  color: black;
}
